body {
  background-color:#F9ECEC;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  display: inline;
}
hr {
  border-color: #CEAB93;
  border-style: none;
  border-top-style: solid;
  border-width:5px;
  display:inline-block;
  width:5%;
  margin:1% 4.5%;
}

img {
  height:220px;
}

h1, h2, h3, h4, h5, h6 {
  color:#694E4E;
  font-family: 'Source Serif Pro', serif;
}

table{
  border-spacing: 20px;
  text-align: left;
}

.section-titles{
  font-size: 22px;
}

.container{
  margin-left:2%;
  height: 30%;
  position: relative;
  padding-right: 460px;
  padding-left: 30px;
}

.line-spacing{
  line-height: 1.5rem;
  text-align: justify;
}
.my-details{
  display: inline-block;
  font-weight:bold;
  margin:0 1rem 0 0;
}

.contact-form{
  margin-bottom:1rem;
}
